header.header
  .container
    a.logo.header__logo(href="/")
      img(src="static/images/general/logo.png", alt="logo")
    include ../menu/header-menu
    .header-social
      a(href="tel:+79214838011").header-social__icon
        +icon('phone', 'header-social__icon-phone')
      a(href="#").header-social__icon
        +icon('instagram', 'header-social__icon-instagram')
      a(href="#").header-social__icon
        +icon('whatsapp', 'header-social__icon-whatsapp')
      a(href="#").header-social__icon
        +icon('facebook', 'header-social__icon-facebook')
      a(href="#").header-social__icon
        +icon('telegram', 'header-social__icon-telegram')
      .sandwich
        .sandwich__line.sandwich__line--top
        .sandwich__line.sandwich__line--middle
        .sandwich__line.sandwich__line--bottom
    .sandwich-menu
      .sandwich-menu-wrapper
        menu
          ul
            li.sandwich-menu__item
              a(href="#") Наши работы
            li.sandwich-menu__item
              a(href="#") Предметная съемка
            li.sandwich-menu__item
              a(href="#") Съемка на манекене
            li.sandwich-menu__item
              a(href="#") Сборные съемки
            li.sandwich-menu__item
              a(href="#") Модели
            li.sandwich-menu__item
              a(href="#") О нас
            li.sandwich-menu__item
              a(href="#") Блог
        .sandwich-menu-social
          a(href="#").header-social__icon
            +icon('facebook', 'header-social__icon-facebook')
          a(href="#").header-social__icon
            +icon('telegram', 'header-social__icon-telegram')
    // .header-social
  // .container