.feedback__title Связаться с нами
form.feedback-form
  input(type="text", name="", placeholder="Имя").input.feedback-form__input
  input(type="tel", name="", placeholder="Номер").input.feedback-form__input
  input(type="email", name="", placeholder="E-mail").input.feedback-form__input
  input(type="text", name="", placeholder="Сообщение").input.feedback-form__input
  button(type="submit").button.feedback-form__button Отправить
// .feedback-form
