.s-models {
  padding-bottom: 104px;
}

.models {
  &__title { margin-bottom: 50px; }
  &-form {
    margin-bottom: 56px;
    display: none;
    .wrapper-form {
      margin: 0 -15px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    &__dropdown {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 36px;
      text-align: center;
      color: $grey;
      font-size: 16px;
      font-weight: 500;
      .dropdown {
        &__title {
          margin-right: 11px;
        }
        &__arrow {
          display: flex;
          width: 10px;
          height: 5px;
          &-icon {
            width: 100%;
            height: 100%;
            &_up {
              display: none;
              fill: $accent
            }
            &_down {
              fill: $grey;              
            }
          }
        }
      }
      &.active {
        color: $accent;
        .dropdown__arrow-icon {
          &_up { display: block; }
          &_down { display: none; }
        }
      }
    }
    &-block {
      &:first-child { width: 110px; }
      &:nth-child(2){ width: 310px; }
      &:nth-child(3){ width: 310px; }
    }
    &-row { 
      margin-bottom: 36px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        margin: 0 8px;
      }
    }
    
  }
  &-radio {
    &__label {
      display: block;
      width: 110px;
      &::before {
        right: 0;
        top: -2px;
      }
      &::after {
        right: 4px;
        top: 2px;
      }
    }
  }
  &-input{
    &_small { 
      width: 64px;
    }
    &_medium { width: 112px; }
    &_big { width: 180px; }
  }
  &-result {
    margin: 0 -15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &-item {
      position: relative;
      margin: 10px;
      width: 220px;
      height: 292px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      &:hover .wrap { opacity: 1; }
      .wrap {
        display: flex;
        opacity: 0;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        transition: all 0.3s ease;
        &__title {
          position: relative;
          color: $white;
          font-size: 24px;
          &::before {
            content: '';
            width: 100px;
            height: 1px;
            position: absolute;
            top: 16px;
            left: -123px;
            background-color: $white;
          }
        }
      }
    }
    &__button { margin-top: 56px; }
  }
}

