section.s-shooting-example
  .container
    h3.h3.example__title Примеры работ
    .example-container
      +example('example-1.png')
      +example('example-2.png')
      +example('example-3.png')
      +example('example-4.png')
      +example('example-5.png')
      +example('example-6.png')
      +example('example-1.png')
      +example('example-2.png')
      +example('example-3.png')
      +example('example-4.png')
      +example('example-5.png')
      +example('example-6.png')
      +example('example-1.png')
      +example('example-2.png')
      +example('example-3.png')
      +example('example-4.png')
      +example('example-5.png')
      +example('example-6.png')
    // .example-container
    button.button.example__button Показать больше работ