extends template/inside

block variables
	- var title = 'Контакты'
	- var pageClass = 'contacts-page'

block content
	.contacts-popup
		a(href="#").contacts-popup-link
			.link__icon
				+icon('arrow-left')
			.link__text Контакты
		.contacts-popup-content
			include modules/forms/contacts-feedback
	// .contacts-popup
	section.s-breadcrumbs
		.container
			+breadcrumb
	section.s-contacts
		.container
			h2.h2.contacts__title Контакты
			.contacts-wrapper
				.contacts-location
					.contacts-location-info
						.contacts-location__title Как нас найти
						.location-block
							.location__title Адрес
							.location__text г. Москва, м. Добрынинская/Серпуховская, Партийный переулок д.1 к11
						// .location-block
						.location-block
							.location__title График работы
							.location__text Пн-Вс 10:00 - 19:00
						// .location-block
						.location-block
							.location__title Телефон
							.location__text +7 (925) 483 80 11
						// .location-block
						.location-block
							.location__title E-mail
							.location__text yourchoiceproduction@gmail.com
						// .location-block
					// .contacts-location-info
					.location-icons
						a(href="#").location-icons-item.location-icons-item_phone
							+icon('phone', 'location-icons__phone')
						a(href="#").location-icons-item.location-icons-item_whatsapp
							+icon('whatsapp', 'location-icons__whatsapp')
						a(href="#").location-icons-item
							+icon('instagram', 'location-icons__instagram')
						a(href="#").location-icons-item
							+icon('facebook', 'location-icons__facebook')
						a(href="#").location-icons-item
							+icon('telegram', 'location-icons__telegram')
				// contacts-location
				.contacts-feedback
					include modules/forms/contacts-feedback
				a(href="#").button.feedback__button Связаться с нами
	// section.s-contacts
	section.s-map <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abbaee87348e206311ab52ae3ede2f553f4561de92ed2e7903ed74e3c64d77024&amp;width=100%25&amp;height=480&amp;lang=ru_RU&amp;scroll=false"></script>
