extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	section.s-main
		a(href="persona.html", style="background-image: url(static/images/content/main/main-bg-1.png);").block.block-center.block-big
			.block-center__content Имиджи
			.block__line
		a(href="#", style="background-image: url(static/images/content/main/main-bg-2.png);").block.block-center.block-small
			.block-center__content Каталог одежды
			.block__line
		a(href="#", style="background-image: url(static/images/content/main/main-bg-3.png);").block.block-center.block-small
			.block-center__content Предметная съемка
			.block__line
		a(href="#", style="background-image: url(static/images/content/main/main-bg-4.png);").block.block-center.block-big
			.block-center__content Манекен
			.block__line