extends template/inside

block variables
	- var title = 'Предметная съемка'
	- var pageClass = 'object-shooting-page'

block content
	section.s-breadcrumbs
		.container
			+breadcrumb-shooting('Предметная съемка')
	.shooting-popup-overlay
		.popup__close
			+icon('close')
		.popup-window
			.popup__title Оставить заявку
			form.popup-form
				input(type="text", name="", placeholder="Имя").input.popup-form__input
				input(type="tel", name="", placeholder="Номер").input.popup-form__input
				input(type="email", name="", placeholder="E-mail").input.popup-form__input
				input(type="text", name="", placeholder="Сообщение").input.popup-form__input
				button(type="submit").button.popup__button Отправить
			// .popup-form
		// .popup-window
	// .shooting-popup-overlay
	section.s-shooting-main
		h2.h2.shooting__title Предметная съемка
		#shooting-parallax.shooting-parallax
			.shooting-parallax__content(style="background-image: url(static/images/content/shooting-parallax/parallax-1.png);")
	//.s-shooting-main
	section.s-shooting-catalog
		.container
			h3.h3.shooting__subtitle Стоимость услуг
			.catalog
				.catalog-block
					.catalog-block__title Бижутерии и сложные бликующие предметы
					.catalog-block__note от 10 артикулов
					.catalog-block-list
						.catalog-block-list__title В стоиомсть входит:
						ul
							li распаковка
							li подготовка к съемке
							li фотосъемка
							li ретушь
					// .catalog-block-list
					.catalog-block-order
						.catalog-block-order__price <span>300</span> ₽/фото
						button.button.catalog-block-order__button Заказать
					// .catalog-block-order
				// .catalog-block
				
				.catalog-block
					.catalog-block__title Сумки, обувь, головные уборы
					.catalog-block__note от 1 артикула
					.catalog-block-list
						.catalog-block-list__title В стоиомсть входит:
						ul
							li распаковка
							li подготовка к съемке
							li фотосъемка
							li ретушь
					// .catalog-block-list
					.catalog-block-order
						.catalog-block-order__price <span>350</span> ₽/фото
						button.button.catalog-block-order__button Заказать
					// .catalog-block-order
				// .catalog-block

				.catalog-block
					.catalog-block__title Ремни, косметика и прочее
					.catalog-block__note от 10 артикулов
					.catalog-block-list
						.catalog-block-list__title В стоиомсть входит:
						ul
							li распаковка
							li подготовка к съемке
							li фотосъемка
							li ретушь
					// .catalog-block-list
					.catalog-block-order
						.catalog-block-order__price <span>150</span> ₽/фото
						button.button.catalog-block-order__button Заказать
					// .catalog-block-order
				// .catalog-block

			// .catalog
	//.s-shooting-catalog

	section.s-shooting-example
		.container
			h3.h3.example__title Примеры работ
			.example-container
				+example('example-1.png')
				+example('example-2.png')
				+example('example-3.png')
				+example('example-4.png')
				+example('example-5.png')
				+example('example-6.png')
				+example('example-1.png')
				+example('example-2.png')
				+example('example-3.png')
				+example('example-4.png')
				+example('example-5.png')
				+example('example-6.png')
				+example('example-1.png')
				+example('example-2.png')
				+example('example-3.png')
				+example('example-4.png')
				+example('example-5.png')
				+example('example-6.png')
			// .example-container
			button.button.example__button Показать больше работ