extends template/inside

block variables
	- var title = 'Предметная съемка'
	- var pageClass = 'object-shooting-page'

block content
	section.s-breadcrumbs
		.container
			+breadcrumb-shooting('Предметная съемка')
	.shooting-popup-overlay
		.popup__close
			+icon('close')
		.popup-window
			.popup__title Оставить заявку
			form.popup-form
				input(type="text", placeholder="Имя").input.popup-form__input
				input(type="tel", placeholder="Номер").input.popup-form__input
				input(type="email", placeholder="E-mail").input.popup-form__input
				input(type="text", placeholder="Сообщение").input.popup-form__input
				button(type="submit").button.popup__button Отправить
			// .popup-form
		// .popup-window
	// .shooting-popup-overlay
	section.s-shooting-main
		h2.h2.shooting__title Предметная съемка
		#shooting-parallax.shooting-parallax
			.shooting-parallax__content(style="background-image: url(static/images/content/shooting-parallax/parallax-1.png);")
	//.s-shooting-main
	section.s-shooting-catalog
		.container
			h3.h3.shooting__subtitle Стоимость услуг
			input(type="radio", name="tabs", checked)#tab1
			label(for="tab1", title="Бижутерии и сложные бликующие предметы") Бижутерии и сложные бликующие предметы
			
			input(type="radio", name="tabs")#tab2
			label(for="tab2", title="Сумки, обувь, головные уборы") Сумки, обувь, головные уборы
			
			input(type="radio", name="tabs")#tab3
			label(for="tab3", title="Ремни, косметика и прочее") Ремни, косметика и прочее

			.catalog
				.catalog-block
					.catalog-block__title Бижутерии и сложные бликующие предметы
					#content-tab1.content-tab
						.catalog-block__note от 10 артикулов
						.catalog-block-list
							.catalog-block-list__title В стоиомсть входит:
							ul
								li распаковка
								li подготовка к съемке
								li фотосъемка
								li ретушь
						// .catalog-block-list
						.catalog-block-order
							.catalog-block-order__price <span>300</span> ₽/фото
							button.button.catalog-block-order__button Заказать
						// .catalog-block-order
					// .content-tab
				// .catalog-block
				
				.catalog-block
					.catalog-block__title Сумки, обувь, головные уборы
					#content-tab2.content-tab
						.catalog-block__note от 1 артикула
						.catalog-block-list
							.catalog-block-list__title В стоиомсть входит:
							ul
								li распаковка
								li подготовка к съемке
								li фотосъемка
								li ретушь
						// .catalog-block-list
						.catalog-block-order
							.catalog-block-order__price <span>350</span> ₽/фото
							button.button.catalog-block-order__button Заказать
						// .catalog-block-order
					// .content-tab
				// .catalog-block

				.catalog-block
					.catalog-block__title Ремни, косметика и прочее
					#content-tab3.content-tab
						.catalog-block__note от 10 артикулов
						.catalog-block-list
							.catalog-block-list__title В стоиомсть входит:
							ul
								li распаковка
								li подготовка к съемке
								li фотосъемка
								li ретушь
						// .catalog-block-list
						.catalog-block-order
							.catalog-block-order__price <span>150</span> ₽/фото
							button.button.catalog-block-order__button Заказать
						// .catalog-block-order
					// .content-tab
				// .catalog-block

			// .catalog
	//.s-shooting-catalog

	include modules/blocks/example 