extends template/inside

block variables
	- var title = 'Наши работы'
	- var pageClass = 'our-works-page'

block content
	section.s-work
		.container
			.breadcrumbs
				a(href="#").breadcrumbs__item Главная
				span /
				a(href="#").breadcrumbs__item.active Имиджи
		h2.h2.works__title Наши работы
		section.work-parallax
			#parallax1.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-1.png);")
				a(href="#").work-parallaxParent__title Съемка обтравок
			#parallax2.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-2.png);")
				a(href="#").work-parallaxParent__title Предметная съемка
			#parallax3.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-3.png);")
				a(href="#").work-parallaxParent__title Съемка каталогов
			#parallax4.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-4.png);")
				a(href="#").work-parallaxParent__title Сборная съемка
			#parallax5.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-5.png);")
				a(href="#").work-parallaxParent__title Имиджи и лукбуки
			#parallax6.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-6.png);")
				a(href="#").work-parallaxParent__title Имиджевая предметка
			#parallax7.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-7.png);")
				a(href="#").work-parallaxParent__title Контент для инстаграмм