extends template/inside

block variables
	- var title = 'Наши работы'
	- var pageClass = 'our-works-page'

block content
	section.s-parallax(style="background-image: url(static/images/content/our-works/our-works-1.png);")
		a(href="#").s-parallax__title Съемка обтравок
	section.s-parallax(style="background-image: url(static/images/content/our-works/our-works-2.png);")
		a(href="#").s-parallax__title Предметная съемка
	section.s-parallax(style="background-image: url(static/images/content/our-works/our-works-3.png);")
		a(href="#").s-parallax__title Съемка каталогов
	section.s-parallax(style="background-image: url(static/images/content/our-works/our-works-4.png);")
		a(href="#").s-parallax__title Сборная съемка
	section.s-parallax(style="background-image: url(static/images/content/our-works/our-works-5.png);")
		a(href="#").s-parallax__title Имиджи и лукбуки
	section.s-parallax(style="background-image: url(static/images/content/our-works/our-works-6.png);")
		a(href="#").s-parallax__title Имиджевая предметка
	section.s-parallax(style="background-image: url(static/images/content/our-works/our-works-7.png);")
		a(href="#").s-parallax__title Контент для инстаграмм