extends template/inside

block variables
	- var title = 'Наши работы'
	- var pageClass = 'our-works-page'

block content
	section.s-work
		.container
			.breadcrumbs
				a(href="#").breadcrumbs__item Главная
				span /
				a(href="#").breadcrumbs__item.active Имиджи
		h2.h2.works__title Наши работы
		.work-parallax
			a(href="#")#parallax1.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-1.png);")
				.work-parallaxParent__title Съемка обтравок
			a(href="#")#parallax2.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-2.png);")
				.work-parallaxParent__title Предметная съемка
			a(href="#")#parallax3.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-3.png);")
				.work-parallaxParent__title Съемка каталогов
			a(href="#")#parallax4.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-4.png);")
				.work-parallaxParent__title Сборная съемка
			a(href="#")#parallax5.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-5.png);")
				.work-parallaxParent__title Имиджи и лукбуки
			a(href="#")#parallax6.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-6.png);")
				.work-parallaxParent__title Имиджевая предметка
			a(href="#")#parallax7.work-parallaxParent
				div.work-parallaxParent-child(style="background-image: url(static/images/content/our-works/our-works-7.png);")
				.work-parallaxParent__title Контент для инстаграмм