extends template/reg

block variables
	- var title = 'Запись на сборную съемку'
	- var pageClass = 'reg-page'

block content
	section.s-back
		a(href="#").back
			.back__arrow
				+icon('arrow-left')
			.back__text Сборные съемки
	section.s-reg
		.container.container-reg
			h2.h2.reg__title Запись на сборную съемку на 04.10
			.reg__descr Чтобы записаться на съемку, заполните данную форму. После заполнения формы в течение дня с вами свяжется наш менеджер.
			.reg-info
				.reg-params
					.reg-title.reg-params__title Модель Анастасия
					.reg-params-content
						.reg-params-row
							.reg-params-row__left Рост
							.reg-params-row__right 170
						// .reg-params-row

						.reg-params-row
							.reg-params-row__left Размер одежды
							.reg-params-row__right 40
						// .reg-params-row

						.reg-params-row
							.reg-params-row__left Размер обуви
							.reg-params-row__right 38
						// .reg-params-row

						.reg-params-row
							.reg-params-row__left Грудь
							.reg-params-row__right 81
						// .reg-params-row

						.reg-params-row
							.reg-params-row__left Талия
							.reg-params-row__right 60
						// .reg-params-row

						.reg-params-row
							.reg-params-row__left Бедра
							.reg-params-row__right 87
						// .reg-params-row

					// .reg-params-content
				// .reg-params
				.reg-slider
					.reg-slider-nav
						.reg-slider__prev.reg-slider__button
							+icon('arrow-left')
						.reg-slider__next.reg-slider__button
							+icon('arrow-right')
					// .reg-slider-nav
					.reg-slider-wrapper
						.swiper-container.reg-slider-main
							.swiper-wrapper
								.swiper-slide(style="background-image: url(static/images/content/reg/reg-1.png);")
								.swiper-slide(style="background-image: url(static/images/content/reg/reg-2.png);")
								.swiper-slide(style="background-image: url(static/images/content/reg/reg-3.png);")
								.swiper-slide(style="background-image: url(static/images/content/reg/reg-4.png);")
								.swiper-slide(style="background-image: url(static/images/content/reg/reg-5.png);")
								.swiper-slide(style="background-image: url(static/images/content/reg/reg-5.png);")
						// .reg-slider-main
						.swiper-container.reg-slider-thumbs
							.swiper-wrapper
								.swiper-slide(style="background-image: url(static/images/content/reg/reg-1.png);")
								.swiper-slide(style="background-image: url(static/images/content/reg/reg-2.png);")
								.swiper-slide(style="background-image: url(static/images/content/reg/reg-3.png);")
								.swiper-slide(style="background-image: url(static/images/content/reg/reg-4.png);")
								.swiper-slide(style="background-image: url(static/images/content/reg/reg-5.png);")
								.swiper-slide(style="background-image: url(static/images/content/reg/reg-5.png);")
						// .reg-slider-thumbs
					// .reg-slider-wrapper
				// .reg-slider
			// .reg-info
			form.reg-form
				.reg-title.reg-form__title Локация съемки - на циклораме и фонах
				.reg-form-blocks

					.form-block
						.reg-subtitle.form-block__title Название бренда <span>*</span>
						input(type="text", name="", placeholder="Ответ").input.form-block__input
					// .form-block

					.form-block
						.reg-subtitle.form-block__title Контактное лицо <span>*</span>
						input(type="text", name="", placeholder="Ответ").input.form-block__input
					// .form-block

					.form-block
						.reg-subtitle.form-block__title Номер телефона <span>*</span>
							.form-block__descr Просьба, указывать номер телефона, прикрепленный к мессенджерам
						input(type="tel", name="", placeholder="Ответ").input.form-block__input
					// .form-block

					.form-block
						.reg-subtitle.form-block__title E-mail <span>*</span>
						input(type="email", name="", placeholder="Ответ").input.form-block__input
					// .form-block

					.form-block
						.reg-subtitle.form-block__title Количество артикулов на съемку <span>*</span>
						input(type="number", name="", placeholder="Ответ").input.form-block__input
					// .form-block

					.form-block
						.reg-subtitle.form-block__title Присутствие на съемке <span>*</span>
						.form-block-row
							input(type="radio", name="presence-radio-group")#presence-radio__yes.radio.form-block-radio
							label(for="presence-radio__yes").models-radio__label Буду присутствовать я лично либо представитель компании
						.form-block-row
							input(type="radio", name="presence-radio-group")#presence-radio__no.radio.form-block-radio
							label(for="presence-radio__no").models-radio__label Не буду присутствовать, отправлю вещи курьером
					// .form-block

				// .reg-form-blocks

				.reg-format
					.reg-subtitle.reg-format__title Какой формат видео требуется
					.reg-format-wrapper
						.reg-format-block
							.reg-format-checkbox
								input(type="checkbox", name="format-check1")#format-check1.checkbox
								label(for="format-check1") Проходка для Wildberries (<span>500</span> ₽/видео)
							.reg-format__video(style="background-image: url(static/images/content/reg/video-1.png);")
							.reg-format-number
								.reg-format-number__text Количество
								input(type="text", name="", placeholder="Ответ").input.reg-format-number__input
						// .reg-format-block
						
						.reg-format-block
							.reg-format-checkbox
								input(type="checkbox", name="format-check2")#format-check2.checkbox
								label(for="format-check2") Динамичная проходка (<span>700</span> ₽/видео)
							.reg-format__video(style="background-image: url(static/images/content/reg/video-2.png);")
							.reg-format-number
								.reg-format-number__text Количество
								input(type="text", name="", placeholder="Ответ").input.reg-format-number__input
						// .reg-format-block

						.reg-format-block
							.reg-format-checkbox
								input(type="checkbox", name="format-check3")#format-check3.checkbox
								label(for="format-check3") Имиджевое для инстаграм (<span>1200</span> ₽/видео) 
							.reg-format__video(style="background-image: url(static/images/content/reg/video-3.png);")
							.reg-format-number
								.reg-format-number__text Количество
								input(type="text", name="", placeholder="Ответ").input.reg-format-number__input
						// .reg-format-block							
					// .reg-format-wrapper
				// .reg-format

				.reg-smallblock
					.reg-smallblock-title.reg-subtitle Ссылка на ваш бренд
					input(type="text", name="", placeholder="Ответ").input.reg-smallblock__input
				// .reg-smallblock

				.reg-smallblock
					.reg-smallblock-title.reg-subtitle Пожелания к съемке
						.reg-smallblock__descr В данной графе вы можете выразить пожелания к цвету фона, к стилистике, позированию модели.
					input(type="text", name="", placeholder="Ответ").input.reg-smallblock__input
				// .reg-smallblock

				.reg-agree
					input(type="checkbox", name="agree-check")#agree-check.checkbox.reg-agree__checkbox
					label(for="agree-check") Ознакомлен с правилами участия в фотосъемке

				.reg-buttons
					button(type="submit").button.reg__button Оплатить как физ. лицо
					button(type="submit").button.reg__button Оплатить как юр. лицо

			// .reg-form
