.s-persona { padding-bottom: 84px; }

.persona {
  &__title { margin-bottom: 45px; }
  &__date {
    margin-bottom: 48px;
    text-align: center;
  }
  &-gallery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &__img {
    margin-bottom: 20px;
    width: 220px;
    height: 292px;
  }
}