@import "hamburger";

.display-block { display: block; }

.display-flex { display: flex; }

.right-0 { right: 0; }

.block-center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}