@import "hamburger";
@import "modal-signup";

.h2 {
  text-align: center;
  font-size: 34px;
  letter-spacing: 0.08em;
}

.h3 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.05em;
  font-weight: 500;
}

.display-block { display: block!important; }

.display-flex { display: flex!important; }

.display-none { display: none!important; }

.right-0 { right: 0; }

.block-center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.breadcrumbs {
  margin-bottom: 40px;
  & > * {
    &:not(:last-child) { margin-right: 10px; }
  }
  &__item {
    font-size: 10px;
    color: $grey;
  }
  .active { color: $accent; }
}

.radio:checked,
.radio:not(:checked){
  position: absolute;
  left: -99999px;
}

.radio:checked + label,
.radio:not(:checked) + label{
  position: relative;
  font-size: 14px;
  cursor: pointer;
}

.radio:checked + label::before,
.radio:not(:checked) + label::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid $grey;
  border-radius: 100%;
}

.radio:checked + label::after,
.radio:not(:checked) + label::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: $grey;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.radio:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.radio:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.radio + label:hover::before { border: 2px solid $accent; }

.checkbox { display: none; }

.checkbox + label {
  position: relative;
  padding-left: 30px;
  line-height: 22px;
  span { font-weight: bold; }
}

.checkbox + label:before {
  content: "\2713";
  color: transparent;
  position: absolute;
  left: 0;
  top: 2px;
  border: 2px solid $grey;
  font-size: 14px;    
  line-height: 13px;
  height: 16px;
  width: 16px;
  text-align: center;
  transition: color ease .3s;
}

.checkbox:checked + label:before {
  color: #000;
}

.input {
  padding: 3px 0;
  border: none;
  border-bottom: 1px solid $grey;
  &::placeholder { color: $grey; }
  &:hover { border-bottom: 1px solid $accent; }
}

.select {
position: relative;
 &::after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  right: 0;
  width: 10px;
  height: 5px;
  pointer-events:none;
  background-image: url(../images/general/arrow-up.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
 }
}

.button {
  display: block;
  padding: 10px 60px;
  background-color: $accent;
  color: $white;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    background-color: $white;
    color: $accent;
    border: 1px solid $accent;
  }
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  cursor: pointer;
}

.s-map { margin-bottom: 104px; }