@import "hamburger";

.h2 {
  text-align: center;
  font-size: 34px;
  letter-spacing: 0.08em;
}

.display-block { display: block; }

.display-flex { display: flex; }

.right-0 { right: 0; }

.block-center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.breadcrumbs {
  margin-bottom: 40px;
  & > * {
    &:not(:last-child) { margin-right: 10px; }
  }
  &__item {
    font-size: 10px;
    color: $grey;
  }
  .active { color: $accent; }
}