@media screen and (max-width: 1024px){
  .header{
    &-menu { display: none; }
    .container { padding: 0 16px; }
  }

  .sandwich { display: block; }
}

@media screen and (max-width: 480px){
  .header-social__icon:nth-last-child(-n+3) { display: none; }
  .sandwich-menu {
    &-social { display: flex; }
    .header-social__icon { display: block; }
  }
  .header {
    &__logo {
      width: 48px;
      height: 31px;
    }
    &-social__icon {
      width: 20px;
      height: 20px;
    }
  }
}