@media screen and (max-width: 1248px){
  .s-main .block__line { width: 15%; }
  .s-main .block-big .block__line { width: 10%; }
  
  .s-main .block:hover .block-center__content { transform: translateX(20px); }
  .s-main .block-big .block__line { width: 5%; }

  .s-main { flex-direction: row; }
  
  .s-main .block{
    &-big {
      width: 100%;
      height: calc(100%/3);
    }
    &-small {
      width: 50%;
      height: calc(100%/3);
    }
  }
}

@media screen and (max-width: 1024px){
  .header{
    &-menu { display: none; }
    .container { padding: 0 16px; }
  }
  
  .sandwich { display: block; }
  
  .single-thumbs { max-width: 386px; }
  
  .single-photo { margin-right: 10px; }
}

@media screen and (max-width: 768px){
  .s-main .block-small .block-center__content { width: 80%; }

  .persona__img {
    width: calc(100%/3 - 20px);
    height: auto;
  }

  .models-result-item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-top: 4px;
    width: calc(100%/3 - 8px);
    height: 250px;
  }

  .single-container { max-height: 100%;}

  .single-photo { order: 1; }

  .single-params { order: 0; }

  .single-params .table { justify-content: center; }

  .single-params { height: 120px; }
  
  .single-photo { margin: 0 auto; }

  .single-thumbs { max-width: 100%;}

  .single-thumbs-container .swiper-slide { width: calc(100%/3); }

  .swiper-buttons { display: none!important; }

  .single-photo { margin-bottom: 8px; }

  .blog {
    &-container { flex-direction: column; }
    &-list { order: 1 }
    &-sidebar {
      max-width: 100%;
      order: 0;
      .sidebar {
        &-search { 
          width: 100%;
          &__input {
            max-width: 100%;
          }
        }
        &-select {
          margin-bottom: 40px;
          &-wrapper {
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px){
  .s-main .block-small .block-center__content { width: 100%; }
  
  .s-main .block-big { font-size: 24px; }
  .s-main .block-small { font-size: 15px; }

  .persona__img {
    margin-bottom: 8px;
    width: calc(100%/3 - 8px);
  }

  .persona-gallery { justify-content: space-between; }

  .footer-top .container {
    flex-direction: column;
    justify-content: center;
  }

  .footer{
    &-block {
      width: 100%;
      text-align: center;
      &-questions { display: none; }
    }
    &-info { text-align: center; }
    &-social { justify-content: center; }
  }

  .models-result-item .wrap { opacity: 1;}

  // .s-shooting-catalog label { display: block;}
  .s-shooting-catalog label { display: inline-block;}

  .catalog-block__title { display: none; }

  .content-tab {display: none;}

  /* Активация секций с помощью псевдокласса :checked */

  #tab1:checked ~ .catalog > .catalog-block > #content-tab1,
  #tab2:checked ~ .catalog > .catalog-block > #content-tab2, 
  #tab3:checked ~ .catalog > .catalog-block > #content-tab3 {
    display: block;
  }

  .s-shooting-catalog .catalog {
    justify-content: center;
  }

  .s-shooting-catalog .container {
    text-align: justify;
  }

  .example-container {
    margin: 0 0px 12px;
  }

  .example__img {
    width: 90px;
    height: 121px;
  }

  .s-shooting-example { margin-bottom: 48px; }

  .example__button { width: 100%;  }
}

@media screen and (max-width: 560px) {
  .breadcrumbs { display: none; }
  
  .header { 
    padding-top: 8px;
    padding-bottom: 30px;
  }
  
  .sandwich-menu {
    top: 68px;
    height: calc(100% - 68px);
    &-wrapper{ height: 100%; }
  }
  
  .persona__title { margin-bottom: 26px; }
  
  .persona__date { margin-bottom: 32px; }
  
  .s-persona { padding-bottom: 48px; }

  .wrapper-form { 
    margin: 0!important;
    flex-direction: column;
    justify-content: center;
  }
  
  .models__title { margin-bottom: 40px; }
  
  .models-form { margin-bottom: 0px; }

  .models-result-item { height: 200px; }

  .wrap__title { font-size: 14px!important; }

  .models-result-item .wrap__title::before { display: none;}

  .models-result__button { margin-top: 40px; }

  .s-models { padding-bottom: 40px; }

  .work-parallaxParent { height: 40vh; }

  .work-parallaxParent__title { font-size: 24px; }

  .works__title { margin-bottom: 43px; }

  .work-parallaxParent:last-child { margin-bottom: 48px; }

  .single-params .table-column:first-child { margin-right: 40px; }

  .single-thumbs-container .swiper-slide { height: 200px;}

  .contacts {
    &-wrapper { flex-direction: column; }
    &__title { margin-bottom: 40px; }
    &-location {
      margin-bottom: 40px;
      &__title { margin-bottom: 24px; }
      &-info { margin-bottom: 8px; }
    }
  }

  .location-icons-item.location-icons-item {
    &_phone { display: block; }
  }

  .contacts-location .location__text { max-width: 100%; }

  .contacts-feedback .feedback__title,
  .contacts-feedback .feedback-form { display: none; }

  .feedback__button { display: block; }

  .s-map { margin-bottom: 48px; }

  .s-blog { margin-bottom: 48px; }
  .blog {
    &-item {
      margin-bottom: 24px;
      padding: 16px;
      background-position: center;
      &::before { display: block; }
      &__img { display: none; }
      &-content { color: $white; }
      &__title { font-size: 16px; }
      &__text { font-size: 12px; }
      &__date { color: $white; }
    }
  }

  .shooting-parallax { height: 193px; }

  .s-shooting-catalog { padding: 40px 0 50px; }
  
  .s-shooting-catalog label {
    margin-right: 5px;
    width: calc(100%/3 - 8px);
    font-size: 12px;
  }

}

@media screen and (max-width: 480px){
  .header-social__icon:nth-last-child(-n+3) { display: none; }
  .sandwich-menu {
    &-social { display: flex; }
    .header-social__icon { display: block; }
  }
  .header {
    &__logo {
      width: 48px;
      height: 31px;
    }
    &-social__icon {
      width: 20px;
      height: 20px;
    }
  }
  .s-main .block-big { font-size: 24px; }
  .s-main .block-small { font-size: 15px; }

  .models-result-item { height: 121px; }
  
  .work-parallaxParent { height: 19vh; }

  .single-photo { width: 100%; }

  .single-thumbs-container .swiper-slide { height: 130px;}
}