.s-team-about { margin-bottom: 96px; }

.about {
  &__title { margin-bottom: 56px; }
  &__descr {
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 423px;
    text-align: center;
    line-height: 22px;
  }
  &-tabs {
    text-align: center;
    input { display: none; }
    label {
      position: relative;
      display: inline-block;
      margin-bottom: 40px;
      margin-right: 20px;
      vertical-align: top;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: $grey;
      cursor: pointer;
    }
    input:checked+label {
      color: $accent;
      text-decoration: underline;
    }
    #tab1:checked~#content-tab1, 
    #tab2:checked~#content-tab2, 
    #tab3:checked~#content-tab3 { 
      display: flex;
    }
    .content-tab {      
      margin: 0 auto;
      margin-bottom: 20px;
      // display: flex;
      display: none;
      flex-direction: column;
      max-width: 830px;
      // justify-content: space-between;
      // align-items: center;
      &-row {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        span { font-weight: bold; }
        &__right {
          text-align: left;
          line-height: 22px;
          &-descr {
            font-size: 13px;
            color: $grey;
            text-align: left;
          }
        }
      }
      &-list {
        // display: flex;
        // flex-direction: column;
        // margin-bottom: 42px;
        columns: 2;
        text-align: left;
        font-size: 16px;
        &__item {
          position: relative;
          margin-bottom: 12px;
          padding-left: 26px;
          line-height: 24px;
          &::before {
            content: '';
            width: 10px;
            height: 2px;
            background-color: $grey;
            position: absolute;
            top: 12px;
            left: 0;
          }
          &-descr {
            font-size: 13px;
            color: $grey;
          }
        }
      }
      &__button {
        margin: 0 auto;
        margin-top: 42px;
        max-width: 272px;
      }
    }
    #content-tab1 { max-width: 368px; }
    #content-tab2 {
      max-width: 748px;
      .content-tab-list { max-height: 227px; }
    }
    #content-tab3 { max-width: 554px;}
  }
}