//- menu.header-menu
ul.header-menu
  li.header-menu__item
    a(href="our-work.html") Наши работы
  li.header-menu__item
    a(href="#") Съемки
    .dropdown
      a(href="#").dropdown__item Предметная съемка
      a(href="#").dropdown__item Съемка на манекене
      a(href="#").dropdown__item Сборные съемки
  li.header-menu__item
    a(href="models.html") Модели
    .dropdown
      a(href="#").dropdown__item Предметная съемка
      a(href="#").dropdown__item Съемка на манекене
      a(href="#").dropdown__item Сборные съемки
  li.header-menu__item
    a(href="#") О нас
    .dropdown
      a(href="#").dropdown__item Предметная съемка
      a(href="#").dropdown__item Съемка на манекене
      a(href="#").dropdown__item Сборные съемки
  li.header-menu__item
    a(href="contacts.html") Контакты
    .dropdown
      a(href="#").dropdown__item Предметная съемка
      a(href="#").dropdown__item Съемка на манекене
      a(href="#").dropdown__item Сборные съемки
  li.header-menu__item
    a(href="blog.html") Блог
    .dropdown
      a(href="#").dropdown__item Предметная съемка
      a(href="#").dropdown__item Съемка на манекене
      a(href="#").dropdown__item Сборные съемки