mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)

mixin persona(img)
	a(href="static/images/content/persona/persona-1.png", data-rel="lightcase:myCollection").persona__img
		img(src="static/images/content/persona/thumb/" + img, alt="Persona")
	//- .persona__img

mixin example(img)
	a(href="static/images/content/persona/persona-1.png", data-rel="lightcase:exampleCollection").example__img
		img(src="static/images/content/example/" + img, alt="Example")
	//- .persona__img

mixin breadcrumb()
	.breadcrumbs
		a(href="#").breadcrumbs__item Главная
		span /
		a(href="#").breadcrumbs__item.active Имиджи

mixin breadcrumb-shooting(name)
	.breadcrumbs
		a(href="#").breadcrumbs__item Главная
		span /
		a(href="#").breadcrumbs__item Съемки
		span /
		a(href="#").breadcrumbs__item.active= name

mixin option(val)
	option(value=+val)= val

mixin model(name, img)
	a(href="single-model.html", style="background-image: url(static/images/content/models/"+ img +");").models-result-item
		.wrap
			.wrap__title= name

mixin swiper-slide(img)
	.swiper-slide(style="background-image: url(static/images/content/single/"+ img +");")

mixin blog-item(img)
	.blog-item(style="background-image: url(static/images/content/blog/"+ img +");")
		.blog-item__img(style="background-image: url(static/images/content/blog/"+ img +");")
		a(href="#").blog-item-content
			.blog-item__title Готовы поработать с нами?
			.blog-item__text Фотопродакшн-студия YOUR CHOICE PRODUCTION STUDIO приветствует Вас у себя в гостях! Сегодня мы поговорим о том, кто мы такие и почему...
			.blog-item__date 13.10.2019
	// .blog-item