mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)

mixin persona(img)
	a(href="static/images/content/persona/persona-1.png", data-rel="lightcase:myCollection").persona__img
		img(src="static/images/content/persona/thumb/" + img, alt="")
	//- .persona__img

mixin breadcrumb()
	.breadcrumbs
		a(href="#").breadcrumbs__item Главная
		span /
		a(href="#").breadcrumbs__item.active Имиджи

mixin option(val)
	option(value=+val)= val

mixin model(name, img)
	a(href="single-model.html", style="background-image: url(static/images/content/models/"+ img +");").models-result-item
		.wrap
			.wrap__title= name

mixin swiper-slide(img)
	.swiper-slide(style="background-image: url(static/images/content/single/"+ img +");")