footer.footer
  .modal-signup-overlay
    .modal-signup__close
      +icon('close', '.modal-signup__close-icon')
    .modal-signup-window.modal-signup-window_login.display-flex
      .modal-signup__title Войти
      form.modal-signup-form
        input(type="email", name="", placeholder="E-mail").input.modal-signup-form__input
        input(type="password", name="", placeholder="Пароль").input.modal-signup-form__input
        button(type="submit").button.modal-signup-form__button Войти
        a(href="#")#modal-reg.modal-signup-form__link Регистрация
        a(href="#")#modal-forgot.modal-signup-form__link Забыли пароль?
      .alert Логин и пароль были введены не правильно
    // .modal-signup-window.modal-signup-window_login

    .modal-signup-window.modal-signup-window_reg
      .modal-signup__title Регистрация
      form.modal-signup-form
        .modal-signup-form-row
          input(type="text", name="", placeholder="Имя").input.modal-signup-form__input
        .modal-signup-form-row
          input(type="email", name="", placeholder="E-mail").input.modal-signup-form__input
          .alert-reg Такой E-mail уже существует
        .modal-signup-form-row
          input(type="password", name="", placeholder="Пароль").input.modal-signup-form__input
        .modal-signup-form-check
          input(type="checkbox", name="")#reg-check
          label(for="reg-check") Настоящим подтверждаю, что я ознакомлени согласен с 
            a(href="#").modal-signup-form-check__link условиями политики конфиденциальности
        button(type="submit").button.modal-signup-form__button Регистрация
        a(href="#")#modal-login.modal-signup-form__link Войти
    // .modal-signup-window.modal-signup-window_reg

    .modal-signup-window.modal-signup-window_forgot
      .modal-signup__title Восстановление пароля
      .modal-signup__descr Забыли пароль? Введите адрес почты. Мы отправим письмо с инструкцией для восстановления
      form.modal-signup-form
        input(type="text", name="", placeholder="E-mail").input.modal-signup-form__input
        button(type="submit").button.modal-signup-form__button.modal-signup-form__button-forgot Сбросить пароль
    // .modal-signup-window.modal-signup-window_forgot

    .modal-signup-window.modal-signup-window_success
      .modal-signup__title Вы зарегистрировались!
      .modal-signup__text Поздравляем! Теперь вы можете заполнить профиль в личном кабинете или перейти на главную страницу.
      .modal-signup-buttons
        a(href="#").button Перейти в личный кабинет
        a(href="#").button Перейти на главную
  // .modal-login-overlay

  .footer-top
    .container.container-small
      .footer-block
        .footer-block__title Часто задаваемые вопросы
        .footer-block-questions
          ul
            li.footer-block-questions__item
              a(href="#") Готовы поработать с нами?
            li.footer-block-questions__item
              a(href="#") Фотопродакшн-студия Your Choise Production
            li.footer-block-questions__item
              a(href="#") В чем заключается наша миссия?
      // .footer-block
      .footer-block
        .footer-block__title Блог
        .footer-block-questions
          ul
            li.footer-block-questions__item
              a(href="#") Готовы поработать с нами?
            li.footer-block-questions__item
              a(href="#") Фотопродакшн-студия Your Choise Production
            li.footer-block-questions__item
              a(href="#") В чем заключается наша миссия?
      // .footer-block
      .footer-info
        a(href="tel:+79254838011").footer-info__phone +7 (925) 483 80 11
        .footer-social
          a(href="#").footer-social__icon
            +icon('instagram', 'footer-social__icon-instagram')
          a(href="#").footer-social__icon
            +icon('whatsapp', 'footer-social__icon-whatsapp')
          a(href="#").footer-social__icon
            +icon('facebook', 'footer-social__icon-facebook')
          a(href="#").footer-social__icon
            +icon('telegram', 'footer-social__icon-telegram')
        a(href="#").footer__conf Политика конфиденциальности
      // .footer-info
    // .container
  // .footer-top
  .footer-bottom
    .container.container-small
      .footer__alright Your Choise Production @2019