footer.footer
  .footer-top
    .container.container-small
      .footer-block
        .footer-block__title Часто задаваемые вопросы
        .footer-block-questions
          ul
            li.footer-block-questions__item
              a(href="#") Готовы поработать с нами?
            li.footer-block-questions__item
              a(href="#") Фотопродакшн-студия Your Choise Production
            li.footer-block-questions__item
              a(href="#") В чем заключается наша миссия?
      // .footer-block
      .footer-block
        .footer-block__title Блог
        .footer-block-questions
          ul
            li.footer-block-questions__item
              a(href="#") Готовы поработать с нами?
            li.footer-block-questions__item
              a(href="#") Фотопродакшн-студия Your Choise Production
            li.footer-block-questions__item
              a(href="#") В чем заключается наша миссия?
      // .footer-block
      .footer-info
        a(href="tel:+79254838011").footer-info__phone +7 (925) 483 80 11
        .footer-social
          a(href="#").footer-social__icon
            +icon('instagram', 'footer-social__icon-instagram')
          a(href="#").footer-social__icon
            +icon('whatsapp', 'footer-social__icon-whatsapp')
          a(href="#").footer-social__icon
            +icon('facebook', 'footer-social__icon-facebook')
          a(href="#").footer-social__icon
            +icon('telegram', 'footer-social__icon-telegram')
        a(href="#").footer__conf Политика конфиденциальности
      // .footer-info
    // .container
  // .footer-top
  .footer-bottom
    .container.container-small
      .footer__alright Your Choise Production @2019